.tickets {
   display: flex;
   flex-direction: column;
}

.ticket {
    background-color: #f0eeed;
    border: 1px dotted #7D6167;
    padding: .7rem;
    margin: .5rem;
}
button {
    background-color: #5ba4fc;
    padding: .2rem;
    color: white;
}
