.tickets {
   display: flex;
   flex-direction: column;
}

.ticket {
    background-color: #f0eeed;
    border: 1px dotted #7D6167;
    padding: .7rem;
    margin: .5rem;
}

button {
    padding: .2rem;
    width: 6rem;
}

.button-div {
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.search-box {
    width: 24%;
    height: 1.7rem;
    margin-top: .5rem;
}

.tix-btn {
    margin: .5rem;
}